@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.burger{
    background: url('assets/burger.svg') no-repeat center;
    background-size: contain;
    width: 60px;
    height: 60px;
    transition: all 1s ease;
    cursor: pointer;
}

.burger_active{
    background: url('assets/cross.svg') no-repeat center;
    background-size: contain;
}
